{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
					<span class="page-header">Categories</span>
				<ul class="">
					{% for category in categories %}
						<a href="{{url_for('showCategory', catalog_id = category.id )}}">
							<li class="">
								<span class="">{{category.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ul>
		</div>

		<div class="col-md-6">
					<span class="page-header">{{categoryName}} ({{categoryItemsCount}} Games)</span>
				<ul>
					{% for categoryItem in categoryItems %}
						<a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
							<li>
								<span class="">{{categoryItem.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ul>
		</div>
	</div>

{% endblock %}